.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons{
  display:flex;
  justify-content: center;
  margin-top: 30px;
  width:500px;
  height:70px;
}

.pick{
  width:30%;
  height:35px;
  border:none;
  border-radius: 3px;
  margin:5px;
  background-color:#ca9372;
  color:white;
  outline:none;
  font-size:18px;
}

.pick:hover{
  background-color: #dcb8a3;
}
.pick:active {
  background-color: #b97046;
  box-shadow: 0 2px #808080c5;
  transform: translateY(2px);

}

.container{
  background-color: #27282e;
  width:780px;
  height:750px;
  margin-bottom:30px;
}